.input {
  flex-grow: 1;
}

.input__field {
  // background-color: #f5f5f5;
  background: #fafafa;
  // box-shadow: 1px 1px 4px #CCC inset;
  border-bottom: 2px solid rgba(#000, 0.15);
  // border-bottom: 2px solid transparent;
  // border-color: $color__font--medium;
  border-radius: 0;
  color: $color__font--dark;
  font-family: $font__family--text;
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 9px;
  transition: background-color 0.3s, border-color 0.3s linear, box-shadow 0.3s linear;
  width: 100%;

  &:focus {
    // border-bottom: 2px solid rgba(#000, 0.15);
    border-color: $color__font--medium;
    box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3) inset;
  }

  @include desktop {
    &:hover {
      border-color: $color--blue;
    }
  }

  &.input__field--color-primary:focus {
    border-color: $color--primary;
  }

  &.input__field--color-blue:focus {
    border-color: $color--blue;
  }

  &.input__field--color-green:focus {
    border-color: $color--green;
  }
}