.input {
  display: block;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.input__field {
  background-color: #fafafa;
  box-shadow: 5px 5px 5px -5px rgba(0,0,0,0.3) inset;
  border: 1px solid transparent;
  border-right: 1px solid rgba(#000, 0.15);
  border-bottom: 2px solid $color__font--medium;
  border-radius: 0;
  color: $color__font--dark;
  font-family: $font__family--text;
  font-size: 1rem;
  height: 3rem;
  line-height: 3rem;
  padding: 0 10px;
  transition: background-color 0.3s, border-color 0.3s linear, box-shadow 0.3s linear;
  width: 100%;

  &:disabled {
    pointer-events: none;
  }

  &:valid {
    padding: 0 36px 0 10px;
  }

  &:valid ~.input__icon--valid {
    opacity: 1;
    transform: none;
  }

  &.input__field--no-validation:focus:valid {
    border-bottom-color: $color--blue;
  }

  &:focus {
    padding: 0 36px 0 10px;
    background-color: #fff;

    &:valid {
      border-bottom-color: $color--green;
    }

    &:invalid {
      border-bottom-color: $color--3;
    }

    &:valid ~.input__icon--valid {
      color: $color--green;
    }

    &:invalid ~.input__icon--invalid {
      opacity: 1;
      transform: none;
      color: $color--3;
    }

    ~.input__requirements {
      max-height: 5rem;
      opacity: 1;
    }
  }

  @include desktop {
    &.input__field--no-validation:hover:valid,
    &.input__field--no-validation:hover:focus:valid {
      border-bottom-color: $color--blue;
    }

    &:hover {
      border-bottom-color: $color--blue;
      background-color: #fff;
    }

    &:hover:focus {
      &:valid {
        border-bottom-color: $color--green;
      }

      &:invalid {
        border-bottom-color: $color--3;
      }
    }
  }
}

.input__field--icon {
  padding: 0 36px 0 10px;
}

.input__icon {
  position: absolute;
  right: 0;
  top: 6px;
  transform: translateX(100%);
  pointer-events: none;
  transition: color 0.2s linear, opacity 0.2s linear, transform 0.2s ease;
  opacity: 0;
  color: $color__font--medium;
}

.input__icon--visible {
  transform: translateX(0);
  opacity: 1;
}

.input__requirements {
  max-height: 0;
  transition: opacity 0.2s linear, max-height 0.3s linear;
  color: $color__font--medium;
  margin-top: 0.5rem;
  opacity: 0;
}