.paragraph {
  color: $color__font--dark;
  font-family: $font__family--text;
  line-height: 1.5;
  padding-bottom: 1rem;
}

.paragraph--first {
  margin-top: 1rem;
}

.paragraph--dark-mode {
  color: $color__font--white;
}
