.bookmark {
  display: flex;
  align-items: center;
  padding: 0 6px;

  &.bookmark--edit-mode {
    padding-right: 0;
    
    .bookmark__icon {
      opacity: 1;
      transition: color 0.2s linear, opacity 0.2s linear;
      width: auto;
      overflow: inherit;
    }
  }
}

.bookmark__link {
  color: $color__font--dark;
  flex-grow: 1;
  font-size: 1rem;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: color 0.2s linear;
  white-space: nowrap;
  line-height: 36px;
  margin-left: 0.5rem;

  &:focus,
  &:active {
    color: $color__font--primary;
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }
  }
}

.bookmark__link--dark {
  color: $color__font--white;
}

.bookmark__icon {
  opacity: 0;
  width: 0;
  overflow: hidden;

  &.bookmark__icon--drag {
    cursor: move;
  }
}