.bookmark {
  padding: 0 6px;
  position: relative;
}

.bookmark--edit-mode {
  padding-right: 0;
}

.bookmark__wrapper {
  display: flex;
  align-items: center;
  height: 36px;
  line-height: 36px;
}

.bookmark__link {
  color: $color-font--dark;
  flex-grow: 1;
  font-size: 1rem;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: color 0.2s linear;
  white-space: nowrap;
  line-height: 2;
  margin-left: 0.5rem;

  &:focus,
  &:active {
    color: $color-font--primary;
    text-decoration: underline;
  }

  @include desktop {
    &:hover {
      color: $color-font--primary;
      text-decoration: underline;
    }
  }
}

.bookmark__link--dark {
  color: $color-font--white;
}

.bookmark__favicon {
  flex-shrink: 0;
  pointer-events: initial;

  &:hover,
  &:active,
  &:focus {
    color: $color-font--medium;
  }
}

.bookmark__favicon.bookmark__favicon--dark-mode {
  &:hover,
  &:active,
  &:focus {
    color: $color-font--white;
  }
}

.bookmark__favicon--viewOnly {
  pointer-events: none;
}

.bookmark__note {
  padding-left: 24px;
  white-space: pre-wrap;
}

.bookmark--edit-mode .bookmark__note {
  padding-right: 6px;
}

.bookmark__note-icon-wrapper {
  position: relative;
  height: 36px;
  width: 36px;
}

.bookmark__note-icon {
  position: absolute;
  top: 8px;
  left: 10px;
}

.bookmark__note-icon--dark-mode {
  color: $color-background--dark-mode;
}
