.m-menu-account__item {
    font-family: $font-family;
    list-style: none;
    margin: 0;

    @include tablet-desktop {
        padding: 0 0.5rem;
        position: relative;
    }
}

@import "m-menu-account__item--light";