.structure {
  position: relative;
}

.structure__dashboard {
  display: flex;
  align-items: center;
  position: relative;
}

.structure__category {
  padding-left: 12px;
}

.structure__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  padding: 0;
  display: block;
}

.headline.structure__title--dark-mode {
  color: $color-font--white;
}

.structure__icon {
  cursor: move;
  position: relative;
  left: 6px;
}

.structure__categories {
  min-height: 36px;
  position: relative;
}

.structure__headline {
  margin-right: 1rem;
}
