@import "../reset";
@import "../config";
@import "../../01_atoms/icon/styles/a-icon";
@import "../../01_atoms/link/styles/a-link";
@import "../../01_atoms/button/styles/a-button";
@import "../../01_atoms/input/styles/a-input";
@import "../../02_molecules/menu-main/styles/m-menu-main";
@import "../../02_molecules/menu-account/styles/m-menu-account";
@import "../../02_molecules/bookmark/styles/m-bookmark";
@import "../../02_molecules/category/styles/m-category";
@import "../../02_molecules/search/styles/m-search";
@import "../../03_organisms/categories/styles/o-categories";
@import "../../03_organisms/header/styles/o-header";
@import "../../03_organisms/toolbar/styles/o-toolbar";

html,
body {
    -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
    background-color: $color__background--light;
    font-family: $font__family-text;
    font-size: $size--phone;
    height: 100%;

    @include tablet {
        font-size: $size--tablet;
    }

    @include desktop {
        font-size: $size--desktop;
    }
}

::-moz-selection {
    color: $color__font--light;
    background-color: $color__font--primary;
}
::selection {
    color: $color__font--light;
    background-color: $color__font--primary;
}