.search {
  margin: 0 calc(1rem + 6px) 0 1rem;
  flex-grow: 1;
}

.search__input {
  height: 2.4rem;
  line-height: 2.4rem;

  @include tablet {
    height: 3rem;
    line-height: 3rem;
  }

  @include desktop {
    height: 100%;
    line-height: 100%;
  }
}