.tab-bar {
  display: flex;
  flex-grow: 1;
  width: 100%;
  position: relative;

  // &::before,
  // &::after {
  //   position: absolute;
  //   content: " ";
  //   width: 70px;
  //   bottom: 0.5rem;
  //   top: 0.5rem;
  // }

  // &::before {
  //   background: linear-gradient(to right, $color__background--white, rgba(255,255,255,0));
  //   left: 0;
  // }

  // &::after {
  //   background: linear-gradient(to left, $color__background--white, rgba(255,255,255,0));
  //   right: 0;
  // }
}

.tab-bar__scroll-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5rem 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.tab-bar__tab {
  user-select: none;
  color: $color__font--medium;
  font-weight: bold;
  white-space: nowrap;
  padding: 6px;
  flex: 0 0 auto;
  cursor: pointer;
  transition: color 0.2s, border-bottom-color 0.2s;
  margin-right: 1rem;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.tab-bar__tab:active {
  color: $color__font--dark;
}

@include desktop {
  .tab-bar__tab:hover {
    color: $color__font--dark;
  }
}

.tab-bar__tab--active {
  cursor: default;
  color: $color--primary;
  border-bottom: 2px solid $color--primary;
  
  &:hover {
    color: $color--primary;
  }
}