.tab-bar {
  display: flex;
  flex-grow: 1;
  width: 100%;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 36px;
    bottom: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;
  }
}

.tab-bar--start {
  &::before {
    background: linear-gradient(to right, $color-background--white, rgba(255, 255, 255, 0));
    left: 0;
    opacity: 1;
  }
}

.tab-bar--end {
  &::after {
    background: linear-gradient(to left, $color-background--white, rgba(255, 255, 255, 0));
    right: 0;
    opacity: 1;
  }
}

.tab-bar__scroll-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0.5rem 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x proximity;
}

.tab-bar__tab {
  user-select: none;
  color: $color-font--medium;
  font-weight: bold;
  white-space: nowrap;
  padding: 6px;
  flex: 0 0 auto;
  cursor: pointer;
  transition: color 0.2s linear, border-bottom-color 0.2s;
  margin-right: 1rem;
  list-style: none;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  scroll-snap-align: start;

  &:last-child {
    margin-right: 0;
  }

  &:active,
  &:focus {
    color: $color-font--dark;
  }

  @include desktop {
    &:hover {
      color: $color-font--dark;
    }
  }
}

.tab-bar__tab--dark-mode {
  color: $color-font--light;

  &:active,
  &:focus {
    color: $color-font--white;
  }

  @include desktop {
    &:hover {
      color: $color-font--white;
    }
  }
}

.tab-bar__tab--active {
  color: $color--primary;
  border-bottom-color: $color--primary;

  &:focus {
    color: $color-font--dark;
    border-bottom-color: $color-font--dark;
  }

  @include desktop {
    &:hover {
      color: $color-font--dark;
      border-bottom-color: $color-font--dark;
    }
  }

  &.tab-bar__tab--dark-mode {
    &:focus {
      color: $color-font--white;
      border-bottom-color: $color-font--white;
    }

    @include desktop {
      &:hover {
        color: $color-font--white;
        border-bottom-color: $color-font--white;
      }
    }
  }
}
