@import "__heading/o-sidebar__heading";
@import "__subheading/o-sidebar__subheading";
@import "__note/o-sidebar__note";

.o-sidebar {
    background-color: $color__background--white;
    border-left: 2px solid rgba(0,0,0,0.15);
    bottom: 0;
    max-width: 100%;
    padding: 10px 2rem;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transform: translate3d(100%,0,0);
    transition: transform 0.3s ease;
    width: 350px;
    z-index: 3;
}

@import "o-sidebar--open";