.o-toolbar__icon {
    pointer-events: auto;

    @include mobile-tablet {
        &:before {
            background: radial-gradient(circle closest-side, $color__font--light, transparent);
            border-radius: 50%;
            content: " ";
            height: 150%;
            left: -25%;
            position: absolute;
            top: -25%;
            width: 150%;
        }
    }
}

@import "o-toolbar__icon--add-category";
@import "o-toolbar__icon--search";