.features-page {
  padding-top: 0;
}

.features-page__cluster {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.about__header {
  padding: 3rem 0;

  @include tablet {
    padding: 4rem 0;
  }

  @include desktop {
    padding: 5rem 0;
  }
}

.about__date {
  display: inline-block;
  margin-left: 4px;
}

.features__bookmarklet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.about__extension {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;

  @include desktop {
    margin-top: 2rem;
  }
}

.about__extension-icon {
  margin: 0 0.5rem 0.5rem;
  max-width: 75px;
  max-height: 75px;

  @include mobile {
    width: 19vw;
    height: 19vw;
  }
}

.about__extension-browser {
  display: flex;
  flex-direction: column;
  align-items: center;
}
