.m-color-picker__color {
    border: 1px solid rgba(0,0,0,0.15);
    cursor: pointer;
    height: 25px;
    width: 25px;

    &:hover {
        outline: 2px solid #000;
    }

    @include mobile {
        height: 22px;
        width: 22px;
    }
}

.m-color-picker__color--0 {
    background-color: $color--0;
}

.m-color-picker__color--1 {
    background-color: $color--1;
}

.m-color-picker__color--2 {
    background-color: $color--2;
}

.m-color-picker__color--3 {
    background-color: $color--3;
}

.m-color-picker__color--4 {
    background-color: $color--4;
}

.m-color-picker__color--5 {
    background-color: $color--5;
}

.m-color-picker__color--6 {
    background-color: $color--6;
}

.m-color-picker__color--7 {
    background-color: $color--7;
}

.m-color-picker__color--8 {
    background-color: $color--8;
}

@import "m-color-picker__color--active";