.o-dashboards__title {
    border-radius: 3px;
    border: 1px solid $color__font--primary;
    color: $color__font--primary;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}