@import "reset";
@import "config";

@import "../../atoms/label/Label";
@import "../../atoms/icon/Icon";
@import "../../atoms/link/Link";
@import "../../atoms/button/Button";
@import "../../atoms/input/Input";
@import "../../atoms/select/Select";
@import "../../atoms/checkbox/Checkbox";
@import "../../atoms/headline/Headline";
@import "../../atoms/paragraph/Paragraph";
@import "../../atoms/messages/error/ErrorMessage";
@import "../../atoms/messages/success/SuccessMessage";
@import "../../atoms/radio/Radio";
@import "../../atoms/textarea/Textarea";
@import "../../atoms/file-upload/FileUpload";

@import "../../molecules/menu/Menu";
@import "../../molecules/bookmark/Bookmark";
@import "../../molecules/category/Category";
@import "../../molecules/search/Search";
@import "../../molecules/color-picker/ColorPicker";
@import "../../molecules/tab-bar/TabBar";
@import "../../molecules/language-switcher/LanguageSwitcher";
@import "../../molecules/section/Section";
@import "../../molecules/testimonials/Testimonials";
@import "../../molecules/empty/Empty";

@import "../../organisms/categories/Categories";
@import "../../organisms/header/Header";
@import "../../organisms/footer/Footer";
@import "../../organisms/toolbar/Toolbar";
@import "../../organisms/structure/Structure";
@import "../../organisms/sidebar/Sidebar";
@import "../../organisms/modal/Modal";
@import "../../organisms/dashboards/Dashboards";
@import "../../organisms/customize/Customize";

@import "../../templates/page/Page";

@import "../../pages/home/Home";
@import "../../pages/account/Account";
@import "../../pages/login/Login";
@import "../../pages/join/Join";

html {
  font-size: calc(14px + 0.2vw);

  @include desktop {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font__family--text;
  height: 100%;
  color: $color__font--dark;
}

::-moz-selection {
  color: $color__font--white;
  background-color: $color__font--primary;
}
::selection {
  color: $color__font--white;
  background-color: $color__font--primary;
}

.booky--no-scrolling {
  overflow: hidden;
}

.booky--no-animation {
  transition: none !important;
}

.booky--hide {
  display: none;
}

.booky--hide-mobile {
  @include mobile {
    display: none;
  }
}

.booky--hide-mobile-tablet {
  @include mobile-tablet {
    display: none;
  }
}

.booky--hide-tablet {
  @include tablet {
    display: none;
  }
}

.booky--hide-tablet-desktop {
  @include tablet-desktop {
    display: none;
  }
}

.booky--hide-desktop {
  @include desktop {
    display: none;
  }
}

/*
 * App loading screen
 */
.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $color__background--white;
  z-index: 10;
}

.loader--hide {
  transition: opacity 0.4s linear;
  opacity: 0;
}

.loader__spinner {
  position: absolute;
  color: $color__font--medium;
  cursor: default;
  left: calc(50vw - 18px);
  top: calc(50vh - 18px);
}

.loader__spinner--hide {
  transition: opacity 0.4s linear, transform 0.5s ease-in;
  transform: translateY(-3rem);
  opacity: 0;
}
