/**
 * Color
 */
$color--primary: #eb7260;
$color--blue: #3a9ad9;
$color--green: #92b06a;
$color--dark: #3e3e3e;

$color__background--primary: $color--primary;
$color__background--dark: #2d2c2c;
$color__background--medium: #3e3e3e;
$color__background--ligth: #f5f5f5;
$color__background--white: #fff;

$color__font--primary: $color--primary;
$color__font--dark: #14171a;
$color__font--medium: #657786;
$color__font--light: #999;
$color__font--white: #fff;

$color--0: $color--primary;
$color--1: $color--blue;
$color--2: $color--green;
$color--3: #e19d29;
$color--4: #eb65a0;
$color--5: #9b539c;
$color--6: #29aba4;
$color--7: #aaa;
$color--8: #777;

/**
 * Size
 */
$size--small: 12px;
$size--phone: 14px;
$size--tablet: 14px;
$size--desktop: 16px;

/**
 * Fonts
 */
$font__family--heading: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font__family--text: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

/**
 * Breakpoints
 */
$width--mobile: 480px;
$width--tablet: 920px;

@mixin mobile {
  @media (max-width: #{$width--mobile}) {
    @content;
  }
}
@mixin mobile-tablet {
  @media (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$width--mobile + 1px}) and (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet-desktop {
  @media (min-width: #{$width--mobile + 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$width--tablet + 1px}) {
    @content;
  }
}