* {
  -webkit-tap-highlight-color: transparent;
  border-color: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button,
a,
*:focus {
  outline: 1px solid transparent;
}

button::-moz-focus-inner {
  border: 0;
}

b {
  font-weight: 700; /* Was still 400 in Firefox */
}