@import "../../templates/booky/config.scss";

.upsell__wrapper {
  @include tablet-desktop {
    display: flex;
  }
}

.upsell__facts {
  @include tablet-desktop {
    margin-left: 3rem;
    border-left: 2px solid $color-border--light;
    padding-left: 3rem;
  }
}

.upsell__fact {
  display: flex;
  align-items: center;
  margin-left: -6px;
}

.upsell__paypal {
  margin-top: 1rem;
}

.upsell__paypal--disabled {
  opacity: 0.7;
  pointer-events: none;
}

.upsell__success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
