@import "__item/m-menu-main__item";

.m-menu-main {
    display: flex;
    justify-content: flex-start;
    z-index: 1;

    @include mobile {
        align-items: center;
        background-color: $color__background--light;
        bottom: 0;
        border-right: 2px solid rgba(0,0,0,0.1);
        flex-direction: column;
        left: 0;
        max-width: 300px;
        min-width: 200px;
        padding: 10px 0 10px 3%;
        position: fixed;
        top: 42px;
        transform: translate3d(-100%,0,0);
        transition: transform 0.3s ease;
        width: 70%;

        &:after {
            background-color: rgba(0, 0, 0, 0.1);
            bottom: 0;
            content: " ";
            left: 100%;
            opacity: 0;
            position: absolute;
            right: 0;
            top: 0;
            transition: opacity 0.3s linear, width 0.1s 0.5s linear;
            width: 0;
        }
    }

    @include tablet-desktop {
        flex-direction: row;
        flex-grow: 1;
        padding-left: 2rem;
    }

    @include desktop {
        padding-left: 3rem;
        // max-width: 720px;
    }
}

@import "m-menu-main--open";