@import "__item/m-menu-main__item";
@import "__sign-out/m-menu-main__sign-out";

.m-menu-main {
    display: flex;
    justify-content: flex-start;
    top: 0;

    @include mobile-tablet {
        align-items: center;
        background-color: $color__background--light;
        bottom: 0;
        border-right: 2px solid rgba(0,0,0,0.15);
        flex-direction: column;
        left: 0;
        max-width: 300px;
        min-width: 200px;
        padding: 10px 0 10px 3%;
        position: fixed;
        transform: translate3d(-100%,0,0);
        transition: transform 0.3s ease;
        width: 70%;
        z-index: 2;
    }

    @include desktop {
        flex-direction: row;
        flex-grow: 1;
        padding-left: 3rem;
        // max-width: 720px;
        z-index: 1;
    }
}

@import "m-menu-main--open";