image: node:10

stages:
  - install
  - quality
  - build

cache:
  paths:
    - node_modules/

install:
  stage: install
  script:
    - npm install
  artifacts:
    name: "artifacts"
    untracked: true
    expire_in: 30 mins
    paths:
      - node_modules/

quality:lint:
  stage: quality
  script:
    -  npm run lint

quality:unit:
  stage: quality
  script:
    -  npm run test:cover
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

build:
  stage: build
  script:
    - CI=false npm run build
  artifacts:
    paths:
      - build
    expire_in: 30 mins
  dependencies:
    - install