language: node_js
node_js:
  - "7"
  - "6"
  - "5"
script:
  # Tests and linting
  - npm run qa
after_success:
  # Send coverage data to coveralls.
  - npm run test:cover
  - cat ./coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
