.a-icon--dark {
    color: $color__font--dark;
    border-color: $color__font--dark;

    @include mobile-tablet {
        &:active {
            color: $color__font--primary;
        }   
    }

    @include desktop {
        &:hover {
            color: $color__font--primary;
        }   
    }
}