.a-icon--primary {
    color: $color__font--primary;
    border-color: $color__font--primary;

    @include mobile-tablet {
        &:active {
            color: $color__font--dark;
        }   
    }

    @include desktop {
        &:hover {
            color: $color__font--dark;
        }   
    }
}