@import "../../00_base/config";
@import "a-icon--light";

.a-icon {
    cursor: pointer;
    display: inline-block;
    fill: currentColor;
    font-size: 1rem;
    height: 36px;
    padding: 5px;
    stroke-width: 0;
    stroke: currentColor;
    transition: color 0.3s;
    user-select: none;
    width: 36px;

    &:active {
        color: $color__font--dark;
    }

    @include tablet-desktop {
        &:hover {
            color: $color__font--dark;
        }
    }
}