.a-heading {
    font-family: $font--heading;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.4rem;
    text-align: center;
    width: 100%;
}

@import "a-heading--dark";
@import "a-heading--light";

@import "__link/a-heading__link";