body {
  padding: 20px;
}

.story-title {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.chapter-h3 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.section-title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: normal;
}

.section-component-container {
  padding-bottom: 1rem;
}
