@import "../../templates/booky/config.scss";

.help {
  padding-top: 0;
}

.help--sticky {
  padding-top: 3rem;

  @include tablet {
    padding-top: 4rem;
  }

  @include desktop {
    padding-top: 5.6rem;
  }
}

.help__header {
  padding: 3rem 0;

  @include tablet {
    padding: 4rem 0;
  }

  @include desktop {
    padding: 5rem 0;
  }
}

.help__illustration {
  margin-right: 1rem;
}

.help-headline,
.help-intro {
  @include tablet {
    width: 60%;
  }

  @include desktop {
    width: calc(100% - 30vw - 36px);
  }

  @include hd {
    width: 70%;
  }
}

.help-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 1rem;
}

.help-container__item {
  width: 100%;

  @include tablet-desktop() {
    width: 50%;
    padding: 0 3% 0 0;
  }
}

.help-container__item:nth-child(2n) {
  @include tablet-desktop() {
    padding: 0 0 0 3%;
  }
}

.help__button {
  pointer-events: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.help__icon {
  display: flex;
  align-items: center;
}

.help__subtitle {
  display: block;
}
