.icon {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 36px;
  position: relative;
  transition: color 0.2s linear, opacity 0.2s linear, transform 0.2s linear;
  user-select: none;

  // &:after {
  //   background-color: rgba(0,0,0,0.1);
  //   border-radius: 50%;
  //   content: " ";
  //   height: 36px;
  //   left: 0;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-50%) scale(0);
  //   transition: height 0.3s linear, width 0.3s linear, opacity 0.3s linear;
  //   width: 36px;
  // }

  // &:active {
  //   &:after {
  //     animation: 0.3s linear 1 circle;
  //   }
  // }
  
  &:focus {
    outline: none;
  }
}

.icon--primary {
  color: $color__font--primary;
  border-color: $color__font--primary;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }   
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--dark {
  color: $color__font--dark;
  border-color: $color__font--dark;

  @include mobile-tablet {
    &:active {
      color: $color__font--primary;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }   
  }

  &:focus {
    color: $color__font--primary;
  }
}

.icon--medium {
  color: $color__font--medium;
  border-color: $color__font--medium;

  @include mobile-tablet {
    &:active {
      color: $color__font--primary;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }   
  }

  &:focus {
    color: $color__font--primary;
  }
}

.icon--light {
  color: $color__font--white;
  border-color: $color__font--white;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }   
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--green {
  color: $color--green;
  border-color: $color--green;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }   
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--orange {
  color: $color--3;
  border-color: $color--3;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }   
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }   
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon__svg {
  fill: currentColor;
  height: 36px;
  padding: 6px;
  position: relative;
  stroke-width: 0;
  stroke: currentColor;
  width: 36px;
}

.icon__svg--spinner {
  animation: 1s linear infinite rotate;
}

.icon__label {
  cursor: pointer;
  font-family: $font__family--heading;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 4px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

// @keyframes circle {
//   0% {
//     transform: translateY(-50%) scale(0);
//     opacity: 0;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     transform: translateY(-50%) scale(1);
//     opacity: 0;
//   }
// }