.icon {
  border: 0 none;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  position: relative;
  transition: color 0.2s linear, opacity 0.2s linear, transform 0.2s linear;
  user-select: none;

  &::after {
    background-color: rgba(0,0,0,0.1);
    border-radius: 50%;
    content: " ";
    height: 36px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0);
    width: 36px;
    transition: transform 0.2s ease;
    pointer-events: none;
  }

  &:focus::after {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  @include desktop {
    &:hover::after {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}

.icon--size-tiny {
  height: 16px;

  &::after {
    height: 16px;
    width: 16px;
  }
}

.icon--size-small {
  height: 36px;

  &::after {
    height: 36px;
    width: 36px;
  }
}

.icon--size-medium {
  height: 64px;

  &::after {
    height: 64px;
    width: 64px;
  }
}

.icon--size-large {
  height: 92px;

  &::after {
    height: 92px;
    width: 92px;
  }
}

.icon--dark-mode::after {
  background-color: rgba(255,255,255,0.1);
}

.icon--primary {
  color: $color__font--primary;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--dark {
  color: $color__font--dark;

  @include mobile-tablet {
    &:active {
      color: $color__font--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }
  }

  &:focus {
    color: $color__font--primary;
  }
}

.icon--medium {
  color: $color__font--medium;

  @include mobile-tablet {
    &:active {
      color: $color__font--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }
  }

  &:focus {
    color: $color__font--primary;
  }
}

.icon--light {
  color: $color__font--white;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }

    &.icon--dark-mode:active {
      color: $color--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }

    &.icon--dark-mode:hover {
      color: $color--primary;
    }
  }

  &:focus {
    color: $color__font--dark;
  }

  &.icon--dark-mode:focus {
    color: $color--primary;
  }
}

.icon--green {
  color: $color--green;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--orange {
  color: $color--3;

  @include mobile-tablet {
    &:active {
      color: $color__font--dark;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;
    }
  }

  &:focus {
    color: $color__font--dark;
  }
}

.icon--skeleton {
  width: 24px !important;
  height: 24px;
  margin: 6px;
}

.icon__svg {
  fill: currentColor;
  padding: 6px;
  position: relative;
  stroke-width: 0;
  stroke: currentColor;
}

.icon__svg--size-tiny {
  height: 16px;
  width: 16px;
  padding: 0;
}

.icon__svg--size-small {
  height: 36px;
  width: 36px;
}

.icon__svg--size-medium {
  height: 64px;
  width: 64px;
}

.icon__svg--size-large {
  height: 92px;
  width: 92px;
}

.icon__svg--spinner {
  animation: 1s linear infinite rotate;
}

.icon__label {
  cursor: pointer;
  font-family: $font__family--heading;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 4px;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}