.menu {
  @include mobile-tablet {
    top: 0;
    background-color: $color__background--white;
    bottom: 0;
    border-right: 2px solid rgba(0,0,0,0.15);
    left: 0;
    max-width: 300px;
    min-width: 200px;
    padding-bottom: 1rem;
    position: fixed;
    transform: translate3d(-100%,0,0);
    transition: transform 0.3s ease;
    width: 80%;
    z-index: 2;
    overflow: hidden;

    &.menu--open {
      transform: translate3d(0,0,0);
    }
  }

  @include desktop {
    padding: 0 1rem;
    flex-grow: 1;
    // z-index: 1;
  }
}

.menu__header {
  display: flex;
  height: 3rem;
  align-items: center;
  position: relative;
  z-index: 3;
  padding: 0 3vw;

  @include tablet {
    height: 4.4rem;
  }

  @include desktop {
    display: none;
  }
}

.menu__scroll-wrapper {
  @include mobile-tablet {
    position: absolute;
    top: 3rem;
    margin-top: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  @include tablet {
    top: 4.4rem;
  }
}

.menu__headline-wrapper {
  display: flex;
  align-items: center;
  padding: 0 3vw 0 calc(3vw + 6px);

  .menu__headline {
    flex-grow: 1;
    margin: 0 !important;
    padding: 0 !important;
  }

  @include desktop {
    display: none;
  }
}

.menu__headline {
  padding: 0 calc(3vw + 6px) !important;
  margin: 0 !important;
  line-height: 36px !important;

  @include desktop {
    display: none;
  }
}

.menu__logo {
  margin-left: 1rem;
  color: $color__font--primary;
}

.menu__dashboards {
  padding-bottom: 1rem;

  .menu__item {
    padding: 0 calc(3vw + 6px);
  }

  &.menu__dashboards--edit-mode {
    .menu__item {
      padding: 0 3vw 0 calc(3vw + 6px);
    }
    
    .menu__icon {
      opacity: 1;
      transition: color 0.2s linear, opacity 0.2s linear;
      width: auto;
      overflow: inherit;
    }
  }

  @include desktop {
    display: none;
  }
}

.menu__icon {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.menu__edit-icon--hide {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.menu__nav {
  display: flex;
  justify-content: flex-start;

  @include mobile-tablet {
    align-items: center;
    flex-direction: column;

    .menu__item {
      :first-child {
        margin-right: 6px;
      }
    }
  }

  @include desktop {
    flex-direction: row;
    flex-grow: 1;
  }
}

.menu__item {
  @include mobile-tablet {
    color: $color__font--dark;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    list-style: none;
    padding: 0 calc(3vw + 6px) 0 3vw;
    user-select: none;
    transition: none;
    cursor: pointer;

    .icon {
      transition: none;
    }

    &:active {
      background-color: $color__background--ligth;
      color: $color__font--primary;

      .menu__label {
        color: $color__font--primary;
      }

      &:active .icon {
        // color: $color__font--primary;
      }
    }
  }

  &.menu__item--active {
    font-weight: 700;
  }

  @include desktop {
    display: inline-flex;
    color: $color__font--white;
    font-weight: bold;
    margin: 0 0.5rem;
    position: relative;
    transition: color 0.2s linear;
    align-items: center;

    &:hover {
      color: $color__font--dark;

      .menu__label {
        color: $color__font--dark;
      }

      &:hover .icon {
        color: $color__font--dark;
      }
    }

    &:first-child  {
      &:before {
        display: none;
      }
    }

    .icon {
      color: $color__font--white;
    }
  }
}

.menu__label {
  color: $color__font--dark;
  font-family: $font__family--text;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  cursor: pointer;
  text-decoration: none;

  @include desktop {
    transition: color 0.2s linear;
    color: $color__font--white;
  }
}

.menu__hr {
  height: 1px;
  position: relative;
  background-color: rgba(0,0,0,0.15);
  width: 140%;
  left: -20%;
  margin-bottom: 1rem;

  @include desktop {
    display: none;
  }
}

.menu__button {
  margin: 1rem calc(3vw + 6px);
  display: flex;
}