.a-icon {
    color: $color__font--light;
    cursor: pointer;
    display: inline-block;
    fill: currentColor;
    font-size: 1rem;
    height: 2rem;
    margin: 5px;
    stroke-width: 0;
    stroke: currentColor;
    transition: color 0.3s;
    user-select: none;
    width: 2rem;
}

@import "a-icon--light";