.search-field {
  margin: 0 12px 0 1rem;
  flex-grow: 1;
  position: relative;

  @include mobile {
    .icon {
      top: 0;
    }
  }

  @include desktop {
    flex-grow: 0;
    margin: 0 0 0 1rem;
  }
}

.search-field__input {
  margin: 0;

  @include mobile {
    height: 2.4rem;
  }

  @include desktop {
    width: 300px;
  }
}

.search-field__input--dark-mode {
  @include desktop {
    background-color: $color-background--dark;

    &:hover,
    &:focus {
      background-color: $color-background--dark;
    }
  }
}
