.color-picker {
  display: flex;
}

.color-picker__color {
  border: 2px solid rgba(0,0,0,0.15);
  cursor: pointer;
  height: 2rem;
  transition: border-color 0.2s linear;
  width: 2rem;
  display: inline-block;
  margin-right: 6px;

  &:active {
    border-color: #000;

    .icon {
      color: #000;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include desktop() {
    &:hover {
      border-color: #000;

      .icon {
        color: #000;
      }
    }
  }

  &.color-picker__color--active {
    border-color: #000;
  }

  &.color-picker__color--0 {
    background-color: $color--0;
  }

  &.color-picker__color--1 {
    background-color: $color--1;
  }

  &.color-picker__color--2 {
    background-color: $color--2;
  }

  &.color-picker__color--3 {
    background-color: $color--3;
  }

  &.color-picker__color--4 {
    background-color: $color--4;
  }

  &.color-picker__color--5 {
    background-color: $color--5;
  }

  &.color-picker__color--6 {
    background-color: $color--6;
  }

  &.color-picker__color--7 {
    background-color: $color--7;
  }

  &.color-picker__color--8 {
    background-color: $color--8;
  }
}

.color-picker__icon,
.color-picker__icon .icon__svg {
  padding: 0;
  height: 100%;
  width: 100%;
}