.m-dashboard--edit-mode {
    @include desktop() {
        &:hover {
            .m-dashboard__icon {
                color: $color__font--white;
            }
        }
    }

    .m-dashboard__icon {
        color: $color__font--dark;
        opacity: 1;
        transition: color 0.2s linear, opacity 0.2s linear;
        width: 36px;

        @include mobile-tablet() {
            &:active {
                color: $color__font--primary;
            }
        }

        @include desktop() {
            &:hover {
                color: $color__font--dark;
            }
        }
    }
}