/**
 * Color
 */
$color--primary: #eb7260;
$color--blue: #3a9ad9;
$color--green: #92b06a;
$color--dark: #313d3e;

$color__background--primary: $color--primary;
$color__background--dark: #3e3e3e;
$color__background--medium: #f5f5f5;
$color__background--light: #ffffff;

$color__font--primary: $color--primary;
$color__font--dark: rgb(20, 23, 26); //#171717;
$color__font--medium: rgb(101, 119, 134); //#3e3e3e;
$color__font--light: #fff;

$color--0: $color--primary;
$color--1: $color--blue;
$color--2: $color--green;
$color--3: #e19d29;
$color--4: #eb65a0;
$color--5: #9b539c;
$color--6: #29aba4;
$color--7: #aaa;
$color--8: #777;

/**
 * Size
 */
$size--phone: 13px;
$size--tablet: 16px;
$size--desktop: 16px;

/**
 * Misc
 */
$font__family--heading: "Roboto", sans-serif;
$font__family--text: "Roboto", sans-serif;

/**
 * Breakpoints
 */
$width--mobile: 480px;
$width--tablet: 920px;

@mixin mobile {
  @media (max-width: #{$width--mobile}) {
    @content;
  }
}
@mixin mobile-tablet {
  @media (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$width--mobile + 1px}) and (max-width: #{$width--tablet}) {
    @content;
  }
}
@mixin tablet-desktop {
  @media (min-width: #{$width--mobile + 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$width--tablet + 1px}) {
    @content;
  }
}