@import "reset";
@import "config";
@import "../../atoms/icon/styles/a-icon";
@import "../../atoms/link/styles/a-link";
@import "../../atoms/button/styles/a-button";
@import "../../atoms/input/styles/a-input";
@import "../../atoms/checkbox/styles/a-checkbox";
@import "../../atoms/headline/styles/a-headline";
@import "../../atoms/paragraph/styles/a-paragraph";
@import "../../atoms/loader/styles/a-loader";
@import "../../molecules/menu-main/styles/m-menu-main";
@import "../../molecules/bookmark/styles/m-bookmark";
@import "../../molecules/category/styles/m-category";
@import "../../molecules/search/styles/m-search";
@import "../../molecules/color-picker/styles/m-color-picker";
@import "../../molecules/dropdown/styles/m-dropdown";
@import "../../molecules/dashboard/styles/m-dashboard";
@import "../../organisms/categories/styles/o-categories";
@import "../../organisms/header/styles/o-header";
@import "../../organisms/toolbar/styles/o-toolbar";
@import "../../organisms/sidebar/styles/o-sidebar";
@import "../../organisms/dashboards/styles/o-dashboards";
@import "../../templates/page/styles/t-page";

html,
body {
  -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color__background--light;
  font-family: $font__family--text;
  font-size: $size--phone;
  height: 100%;

  @include tablet {
    font-size: $size--tablet;
  }

  @include desktop {
    font-size: $size--desktop;
  }

  &.booky--no-animation {
    transition: none !important;
  }

  &.booky--no-scrolling {
    overflow: hidden;
  }

  @include mobile-tablet {
    &.booky--no-scrolling-mobile-tablet {
      overflow: hidden;
    }
  }
}

::-moz-selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}
::selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}