@import "reset";
@import "config";

@import "../../atoms/icon/Icon";
@import "../../atoms/link/styles/a-link";
@import "../../atoms/button/styles/a-button";
@import "../../atoms/input/Input";
@import "../../atoms/checkbox/styles/a-checkbox";
@import "../../atoms/headline/Headline";
@import "../../atoms/paragraph/styles/a-paragraph";
@import "../../atoms/loader/styles/a-loader";

@import "../../molecules/menu-main/styles/m-menu-main";
@import "../../molecules/bookmark/Bookmark";
@import "../../molecules/category/Category";
@import "../../molecules/search/Search";
@import "../../molecules/color-picker/styles/m-color-picker";
@import "../../molecules/dropdown/styles/m-dropdown";
@import "../../molecules/dashboard/styles/m-dashboard";
@import "../../molecules/tab-bar/TabBar";

@import "../../organisms/categories/categories";
@import "../../organisms/header/Header";
@import "../../organisms/toolbar/Toolbar";
@import "../../organisms/sidebar/styles/o-sidebar";
@import "../../organisms/dashboards/styles/o-dashboards";

@import "../../templates/page/styles/t-page";

html,
body {
  -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color__background--light;
  font-family: $font__family--text;
  font-size: $size--phone;
  font-weight: 100;
  height: 100%;

  @include tablet {
    font-size: $size--tablet;
  }

  @include desktop {
    font-size: $size--desktop;
  }

  &.booky--no-animation {
    transition: none !important;
  }

  &.booky--no-scrolling {
    overflow: hidden;
  }

  @include mobile-tablet {
    &.booky--no-scrolling-mobile-tablet {
      overflow: hidden;
    }
  }
}

.b-hide-mobile {
  @include mobile {
    display: none;
  }
}

.b-hide-mobile-tablet {
  @include mobile-tablet {
    display: none;
  }
}

.b-hide-tablet {
  @include tablet {
    display: none;
  }
}

.b-hide-tablet-desktop {
  @include tablet-desktop {
    display: none;
  }
}

.b-hide-desktop {
  @include desktop {
    display: none;
  }
}

::-moz-selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}
::selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}