@import "reset";
@import "config";

html,
body {
  -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color__background--light;
  font-family: $font__family--text;
  font-size: $size--phone;
  height: 100%;

  @include tablet {
    font-size: $size--tablet;
  }

  @include desktop {
    font-size: $size--desktop;
  }

  &.booky--no-animation {
    transition: none !important;
  }

  &.booky--no-scrolling {
    overflow: hidden;
  }

  @include mobile-tablet {
    &.booky--no-scrolling-mobile-tablet {
      overflow: hidden;
    }
  }
}

::-moz-selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}
::selection {
  color: $color__font--light;
  background-color: $color__font--primary;
}