.dashboards--sidebar {
  width: 300px;
  background-color: $color__font--white;
  border-right: 2px solid rgba(0,0,0, 0.15);
  z-index: 2;
  padding-bottom: 1rem;
  transition: transform 0.3s ease;
  transform: translate3d(0,0,0);
  position: absolute;
  bottom: 0;
  top: calc(4rem - 2px);

  @include mobile-tablet {
    display: none;
  }
}

.dashboards--dark-mode {
  background-color: $color__background--medium;
}

.dashboards--sticky {
  top: calc(10rem + 3px);
  position: fixed;
  height: auto;
}

.dashboards--sticky-header {
  top: calc(10rem + 3px);
}

.dashboards--sticky-one-and-only {
  position: fixed;
  top: calc(4rem - 2px);
  height: auto;
}

.dashboards--hide {
  @include desktop {
    transform: translate3d(calc(-100% + 36px),0,0);
  }
}

.dashboards__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboards__headline-wrapper {
  display: flex;
  align-items: center;
  padding: 0 3vw 0 calc(3vw + 6px);

  @include desktop {
    padding: 0 30px 0 36px;
  }
}

.dashboards__scroll-wrapper {
  @include desktop {
    position: absolute;
    top: calc(3rem + 4px);
    bottom: 0;
    padding-top: 1rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::before,
    &::after {
      position: fixed;
      content: " ";
      height: 30px;
      z-index: 1;
      right: 36px;
      left: 0;
      pointer-events: none;
    }

    &::before {
      background: linear-gradient(to bottom, $color__background--white, rgba(255,255,255,0));
      top: 52px;
    }

    &::after {
      background: linear-gradient(to top, $color__background--white, rgba(255,255,255,0));
      bottom: 0;
    }
  }
}

.dashboards--dark-mode .dashboards__scroll-wrapper {
  &::before {
    background: linear-gradient(to bottom, $color__background--medium, rgba(255,255,255,0));
  }

  &::after {
    background: linear-gradient(to top, $color__background--medium, rgba(255,255,255,0));
  }
}

.dashboards__headline {
  flex-grow: 1;
  margin: 0 !important;
  padding: 0 !important;
}

.dashboards__list {
  padding-bottom: 1rem;
}

.dashboards__icon {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.dashboards__list--edit-mode {
  .dashboards__item {
    padding: 0 3vw 0 calc(3vw + 6px);

    &:active,
    &:focus {
      color: inherit;
      background-color: inherit;
      cursor: default;

      .dashboards__label {
        color: inherit;
        cursor: default;
      }

      &.dashboards__item--dark-mode {
        background-color: inherit;

        .dashboards__label {
          color: $color__font--white;
        }
      }
    }

    @include desktop {
      padding: 0 30px 0 36px;

      &:hover {
        color: inherit;
        background-color: inherit;
        cursor: default;

        .dashboards__label {
          color: inherit;
          cursor: default;
        }

        &.dashboards__item--dark-mode {
          background-color: inherit;

          .dashboards__label {
            color: $color__font--white;
          }
        }
      }
    }
  }
  
  .dashboards__icon {
    opacity: 1;
    transition: color 0.2s linear, opacity 0.2s linear;
    width: auto;
    overflow: inherit;
  }

  .dashboards__item:first-child:last-of-type .dashboards__icon--delete {
    display: none;
  }
}

.dashboards__item {
  color: $color__font--dark;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  height: 2.5rem;
  line-height: 2.5;
  width: 100%;
  list-style: none;
  padding: 0 calc(3vw + 6px);
  user-select: none;
  transition: background-color 0.2s linear, color 0.2s linear;
  cursor: pointer;
  text-decoration: none;

  @include desktop {
    padding: 0 36px;
  }

  &:active,
  &:focus {
    background-color: $color__background--ligth;

    &.dashboards__item--dark-mode {
      background-color: $color__background--dark;
    }

    .dashboards__label {
      color: $color__font--primary;
    }
  }

  &.dashboards__item--active {
    font-weight: 700;
  }

  @include desktop {
    &:hover {
      background-color: $color__background--ligth;

      &.dashboards__item--dark-mode {
        background-color: $color__background--dark;
      }

      .dashboards__label {
        color: $color__font--primary;
      }
    }
  }
}

.dashboards__label {
  color: $color__font--dark;
  font-family: $font__family--text;
  font-size: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
  cursor: pointer;
  transition: color 0.2s linear;
}

.dashboards__label--dark-mode {
  color: $color__font--white;
}

.dashboards__button {
  margin: 1rem calc(3vw + 6px);
  display: flex;

  @include desktop {
    margin: 0.5rem 0 0.5rem 36px;
  }
}

.dashboards__hr {
  height: 2px;
  background-color: rgba(0,0,0,0.15);
  width: 100%;
  margin-bottom: 1rem;
}

.dashboard__empty {
  height: 2.5rem;
  line-height: 2.5;
  padding: 0 calc(3vw + 6px);
  list-style: none;

  @include desktop {
    padding: 0 36px;
  }
}

.dashboard__empty--dark-mode {
  color: $color__font--white;
}
