.o-sidebar__subheading {
    color: $color__font--dark;
    cursor: default;
    font-family: $font__family--text;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
    text-align: left;
    width: 100%;
}