@import "__menu-main-icon/o-header__menu-main-icon";
@import "__menu-account-icon/o-header__menu-account-icon";
@import "__logo/o-header__logo";
@import "__sign-out/o-header__sign-out";
@import "__sign-in/o-header__sign-in";
@import "__join/o-header__join";
@import "__dashboards/o-header__dashboards";

.o-header {
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    display: flex;
    height: 42px;
    justify-content: center;
    padding: 0 3%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &:before {
        background-color: rgba(0, 0, 0, 0.1);
        bottom: 0;
        content: " ";
        left: 0;
        opacity: 0;
        position: fixed;
        width: 0;
        top: 0;
        transition: opacity 0.3s linear, width 0s 0.3s linear;
    }

    @include tablet {
        height: 64px;
    }

    @include desktop {
        height: 86px;
    }
}

@import "o-header--color";
@import "o-header--sticky";
@import "o-header--overlay-menu-main";
@import "o-header--overlay-sidebar";
@import "o-header--overlay-dashboards";