.headline {
  color: $color__font--dark;
  font-family: $font__family--heading;

  &.headline--h1 {
    font-size: 2.333rem;
    font-weight: 100;
    line-height: 2.889rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
  }

  &.headline--h2 {
    font-size: 1.714rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }

  &.headline--h3 {
    color: $color__font--medium;
    font-weight: 700;
    font-size: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    line-height: 1rem;
  }
}