@import "__header/m-category__header";
@import "__icon/m-category__icon";
@import "__name/m-category__name";
@import "__name-inner/m-category__name-inner";
@import "__bookmarks/m-category__bookmarks";

.m-category {
    flex-grow: 1;
    margin: 2rem 3%;
    max-width: 94%;
    padding: 6px;
    position: relative;
    width: 300px;

    @include desktop {
        width: 390px;

        &:hover .m-category__icon--edit-mode {
            opacity: 1;
            transition: color 0.2s linear, opacity 0.2s linear;
            width: 36px;
        }
    }
}