.skeleton {
  max-width: 100%;
  max-height: 100%;
  // height: 2rem;
  width: 15rem;
  line-height: 1;
  // background-color: $color__background--ligth;
  display: inline-block;
  border-radius: 3px;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  animation: skeletonKeyframes 1.2s ease-in-out infinite;
}

.skeleton--darkMode {
  background-color: $color__background--dark;
  background-image: linear-gradient(
    90deg,
    $color__background--dark,
    darken($color__background--dark, 3%),
    $color__background--dark
  );
}

@keyframes skeletonKeyframes {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}