* {
    -webkit-tap-highlight-color: transparent;
    border: 0 none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
select,
textarea,
button,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}