.o-dashboards__item {
    background-color: $color__background--light;
    border-left: 1px solid $color__background--primary;
    border-right: 1px solid $color__background--primary;
    color: $color__font--dark;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0 15px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:last-child {
        border-bottom: 1px solid $color__background--primary;
        border-radius: 0 0 3px 3px;
    }
    
    &:hover {
        background-color: $color__background--primary;
        color: $color__font--light;
    }
}