.about {
  padding-top: 0;
}

.about__header {
  padding: 3rem 0;

  @include tablet {
    padding: 4rem 0;
  }

  @include desktop {
    padding: 5rem 0;
  }
}

.about__date {
  display: inline-block;
  margin-left: 4px;
}

.about__availability-wrapper {
  overflow: hidden;
}

.about__availability {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile-tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include desktop {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.about__availability-title {
  @include desktop {
    max-width: 80%;
  }
}

.about__platforms {
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  flex-wrap: wrap;

  @include tablet {
    max-width: 80%;
  }

  @include desktop {
    margin-top: 2rem;
    max-width: 60%;
  }
}

.about__platforms-platform {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0.5rem;
}

.about__members {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;

  @include tablet-desktop {
    justify-content: center;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.about__member {
  display: flex;
  padding: 1.5rem 1rem 2.5rem;
  position: relative;
  background-color: $color-background--light;
  border-radius: 5px;
  margin: 0 1rem 2rem 1rem;
  width: 23rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mobile {
    margin-left: 0;
    margin-right: 0;
  }

  @include desktop {
    padding: 2rem 1rem 2.5rem;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.about__member-image {
  margin-right: 0.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.about__member-header {
  font-size: $font-size--small;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__member-text {
  width: 100%;
  padding-bottom: 0;
}

.about__member-link {
  font-size: $font-size--small;
  display: block;
}

.about__donate {
  margin-bottom: 1rem;
}

.about__updates {
  margin-top: 1rem;
}
