.a-icon__svg {
    fill: currentColor;
    height: 36px;
    padding: 6px;
    position: relative;
    stroke-width: 0;
    stroke: currentColor;
    transition: color 0.3s;
    transition: transform 0.2s linear;
    width: 36px;
}