.o-header__logo--small {
    margin-right: 36px;
    
    .a-icon__svg {
        fill-opacity: 0;
        stroke-width: 2px;
    }

    @include tablet-desktop {
        display: none;
    }
}