.o-header__logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    height: 85%;
    justify-content: center;
    padding: 5px;
    text-align: center;

    @include tablet-desktop {
        flex-grow: 0;
        order: -1;
        text-align: left;
        justify-content: flex-start;
        width: 170px;
    }
}