<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <title>booky.io | Online Bookmark manager. Your bookmarks always available.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <link rel="apple-touch-icon" sizes="180x180" href="/_assets/icons/apple-touch-icon.png?v=M7oXJA0q6g">
  <link rel="icon" type="image/png" href="/_assets/icons/favicon-32x32.png?v=M7oXJA0q6g" sizes="32x32">
  <link rel="icon" type="image/png" href="/_assets/icons/favicon-16x16.png?v=M7oXJA0q6g" sizes="16x16">
  <link rel="manifest" href="/_assets/icons/manifest.json?v=M7oXJA0q6g">
  <link rel="mask-icon" href="/_assets/icons/safari-pinned-tab.svg?v=M7oXJA0q6g" color="#eb7260">
  <link rel="shortcut icon" href="/_assets/icons/favicon.ico?v=M7oXJA0q6g">
  <meta name="apple-mobile-web-app-title" content="booky.io">
  <meta name="application-name" content="booky.io">
  <meta name="msapplication-config" content="/_assets/icons/browserconfig.xml?v=M7oXJA0q6g">
  <meta name="theme-color" content="#ffffff">
</head>

<body ontouchstart="">
  <div id="root"></div>
</body>
</html>