<!DOCTYPE html>
<html>
<!--
    **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
    For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
    -->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8"/>
    <title>booky.io</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png?v=M7oXJA0q6g">
    <link rel="icon" type="image/png" href="/images/icons/favicon-32x32.png?v=M7oXJA0q6g" sizes="32x32">
    <link rel="icon" type="image/png" href="/images/icons/favicon-16x16.png?v=M7oXJA0q6g" sizes="16x16">
    <link rel="manifest" href="/images/icons/manifest.json?v=M7oXJA0q6g">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=M7oXJA0q6g" color="#eb7260">
    <link rel="shortcut icon" href="/images/icons/favicon.ico?v=M7oXJA0q6g">
    <meta name="apple-mobile-web-app-title" content="booky.io">
    <meta name="application-name" content="booky.io">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=M7oXJA0q6g">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Roboto+Condensed:300|Roboto:400,700" rel="stylesheet">
</head>

<body ontouchstart="">
    <div id="root"></div>
</body>
</html>