.footer {
  text-align: center;
}

.footer__social {
  background-color: $color__background--medium;
  border-top: 2px solid rgba(255,255,255,0.3);
  border-bottom: 2px solid rgba(255,255,255,0.03);
  padding: calc(2rem - 4px) 3vw calc(2rem + 2px) 3vw;
  display: flex;
  justify-content: center;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
}

.footer__label {
  color: $color__font--white;
}

.footer__content {
  background-color: $color__background--dark;
  padding: 2rem 3vw;
}