.footer {
  font-size: $size--small;
  text-align: center;
}

.footer__social {
  background-color: $color__background--medium;
  border-top: 2px solid rgba(255,255,255,0.2);
  border-bottom: 2px solid rgba(255,255,255,0.03);
  padding: calc(2rem - 4px) calc(3% + 6px) calc(2rem + 2px) calc(3% + 6px);
  display: flex;
  justify-content: center;
}

.footer__social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  user-select: none;
  text-decoration: none;

  @include mobile-tablet {
    &:active,
    &:focus {
      .footer__icon,
      .footer__label {
        color: $color__font--primary;
      }
    }
  }

  @include desktop {
    &:hover,
    &:focus {
      .footer__icon,
      .footer__label {
        color: $color__font--primary;
      }
    }
  }
}

.footer__label {
  transition: color 0.2s linear;
  color: $color__font--white;
  cursor: pointer;
}

.footer__content {
  background-color: $color__background--dark;
  padding: 2rem calc(3% + 6px);

  @include hd {
    padding: 2rem calc(38px + 6px);
  }
}

.footer__menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.footer__menu-item {
  font-size: $size--small;
  padding: 0 0.5rem;
  line-height: 1.5rem;
}

.footer__logo {
  color: $color__font--white;
  margin-top: 2rem;
  display: block;
  font-size: $size--small;
}

.footer__button {
  margin-top: 2rem;
}

.footer__copy {
  color: $color__font--light;
  margin-top: 2rem;
}

.footer__copy-link {
  font-size: $size--small;
  color: $color__font--white;
  padding: 0 0.3rem;
}