.a-icon--light {
    color: $color__font--light;
    border-color: $color__font--light;

    @include mobile-tablet {
        &:active {
            color: $color__font--dark;
        }   
    }

    @include desktop {
        &:hover {
            color: $color__font--dark;
        }   
    }
}