.a-button__icon {
    display: inline-block;
    left: 0;
    position: absolute;
    transform: translateX(-100%);
    transition: color 0.2s linear, transform 0.2s ease;

    &:hover {
        .a-icon__svg {
            transform: none;
        }
    }

    &:active {
        &:after {
            animation: none;
        }
    }
}