.success {
  color: $color-font--medium;
  font-weight: bold;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 34rem;
}

.success__icon {
  transform: scale(0.7);
  opacity: 0;
  animation: 0.7s ease-out forwards popIn;
}

@keyframes popIn {
  0% {
    transform: scale(0.7);
    opacity: 0;
  }

  30% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.success__icon--animate {
  transform: translateY(0);
  opacity: 1;
}

.success__text {
  transition: opacity 0.4s ease-out 0.3s, transform 0.4s ease-out 0.3s;
  transform: translateY(-0.5rem);
  opacity: 0;
  text-align: center;
}

.success__text--animate {
  transform: translateY(0);
  opacity: 1;
}
