.success {
  color: $color--2;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  max-height: 0;
  opacity: 0;
  position: relative;
  display: flex;
  padding-bottom: 0;
}

.success--animate {
  max-height: 6rem;
  opacity: 1;
}

.success__icon {
  pointer-events: none;
  margin-left: -6px;
  margin-top: -6px;
}