@import "../../templates/booky/config.scss";

.new .section__content {
  @include tablet {
    max-width: 40rem;
  }

  @include desktop {
    max-width: 50rem;
  }
}

.new__title {
  margin-bottom: 1rem;
}

.new__date {
  display: inline-block;
  margin-left: 4px;
}

.new__item {
  display: flex;
  align-items: center;

  .icon {
    height: 24px;
  }
}

.new__learn-more {
  margin-top: 2rem;
}
