@import "../../00_base/config";

.a-headline {
    color: $color__font--dark;
    font-family: $font__family--heading;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.1;
    margin-top: 2rem;
    margin: 2rem auto 0;
    max-width: 800px;
    padding-bottom: 1rem;
}