@import "../../00_base/config";
@import "__text/a-button__text";
@import "__icon/a-button__icon";

.a-button {
    align-items: center;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: $font__family--text;
    font-size: 0.923rem;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    transition: color 0.2s linear, background-color 0.2s linear;
    user-select: none;
    white-space: nowrap;

    @include mobile {
        height: 32px;
        line-height: 32px;
    }
}

@import "a-button--small-light";
@import "a-button--small-primary";
@import "a-button--large-primary";
@import "a-button--large";