.a-button--large {
    font-size: 1rem;
    height: 60px;
    justify-content: center;
    width: 200px;

    &:hover {
        .a-button__icon {
            transform: translateX(10px);
        }

        .a-button__text {
            transform: translateX(20px);
        }
    }
}