.o-header__toolbar {
    align-items: center;
    background-color: rgba($color__background--medium, 0.97);
    display: flex;
    margin-top: 2px;
    overflow: hidden;
    padding: 0.5rem 3%;
    position: absolute;
    top: 100%;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);

    @include mobile-tablet {
        height: 0;
        opacity: 0;
    }

    @include desktop {
        height: auto;
        opacity: 1;
    }
}