.m-menu-account__link {
    @include mobile-tablet {
        margin: 5px 0;
        position: relative;
        width: 100%;
    }

    @include desktop {
        align-items: center;
        display: flex;
    }
}