// .account__email {
//   padding-bottom: 0.5rem;
//   font-weight: 700;
// }

// .account__form {
//   width: 480px;
//   max-width: 100%;
// }

.account__tab-bar {
  width: calc(100% + 12px);
  margin-left: -6px;
  margin-right: -6px;
}

// .account__import-steps {
//   margin-top: 1rem;
//   list-style: decimal inside;
// }

// .account__import-step {
//   line-height: 1.5;
//   padding-bottom: 1rem;
// }
