.select {
  color: $color__font--white;
  font-family: $font__family--text;
  cursor: pointer;
  transition: color 0.2s linear;

  &:active,
  &:focus {
    color: $color__font--primary;
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }
  }
}

.select--large {
  border-radius: 0;
  background-color: #fafafa;
  border: 1px solid transparent;
  border-right: 1px solid rgba(#000, 0.15);
  border-bottom: 2px solid $color__font--medium;
  height: 3rem;
  line-height: 3rem;
  padding: 0 9px;
  transition: background-color 0.3s, border-color 0.3s linear;
  width: 100%;
  font-size: 1rem;
}

.select--compact {
  font-size: 0.8571rem;
  background-color: transparent;
}