@import "../../reset";
@import "../../config";
@import "../../../01_atoms/icon/styles/a-icon";
@import "../../../01_atoms/link/styles/a-link";
@import "../../../01_atoms/button/styles/a-button";
@import "../../../01_atoms/input/styles/a-input";
@import "../../../01_atoms/checkbox/styles/a-checkbox";
@import "../../../01_atoms/headline/styles/a-headline";
@import "../../../01_atoms/paragraph/styles/a-paragraph";
@import "../../../02_molecules/menu-main/styles/m-menu-main";
@import "../../../02_molecules/bookmark/styles/m-bookmark";
@import "../../../02_molecules/category/styles/m-category";
@import "../../../02_molecules/search/styles/m-search";
@import "../../../02_molecules/color-picker/styles/m-color-picker";
@import "../../../02_molecules/dropdown/styles/m-dropdown";
@import "../../../02_molecules/dashboard/styles/m-dashboard";
@import "../../../03_organisms/categories/styles/o-categories";
@import "../../../03_organisms/header/styles/o-header";
@import "../../../03_organisms/toolbar/styles/o-toolbar";
@import "../../../03_organisms/sidebar/styles/o-sidebar";
@import "../../../03_organisms/dashboards/styles/o-dashboards";
@import "../../../04_templates/page/index";

html,
body {
    -webkit-text-size-adjust: none; /** Prevent font scaling in landscape */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color__background--light;
    font-family: $font__family--text;
    font-size: $size--phone;
    height: 100%;

    @include tablet {
        font-size: $size--tablet;
    }

    @include desktop {
        font-size: $size--desktop;
    }

    &.booky--no-animation {
        transition: none !important;
    }

    &.booky--no-scrolling {
        overflow: hidden;
    }

    @include mobile-tablet {
        &.booky--no-scrolling-mobile-tablet {
            overflow: hidden;
        }
    }
}

::-moz-selection {
    color: $color__font--light;
    background-color: $color__font--primary;
}
::selection {
    color: $color__font--light;
    background-color: $color__font--primary;
}