.m-dashboard__title {
    color: $color__font--dark;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0 15px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;

    @include mobile-tablet {
        padding: 0;
        transition: color 0.2s linear;
    }
}