@import "/__button/o-toolbar__button";
@import "/__icon/o-toolbar__icon";

.o-toolbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 2px;
    padding: 0.5rem 3%;
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 1;
    pointer-events: none;

    @include tablet {
        top: 62px;
    }

    @include desktop {
        background-color: rgba($color__background--light, 0.95);
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        pointer-events: auto;
        top: 84px;
    }
}

@import "o-toolbar--open";
@import "o-toolbar--sticky";