.m-menu-main__item {
    @include mobile-tablet {
        border-bottom: 1px solid #ccc;
        color: $color__font--dark;
        flex-shrink: 0;
        height: 3rem;
        transition: color 0.3s linear;
        width: 100%;

        &:hover {
            color: $color__background--primary;
        }
    }

    @include desktop {
        color: $color__font--light;
        font-weight: bold;
        margin: 0 1rem;
        position: relative;
        transition: color 0.2s linear;

        &:hover {
            color: rgba($color__background--dark, 0.8);
        }

        &:after {
            // display: none;
        }

        &:before {
            background-color: rgba($color__background--dark, 0.4);
            border-radius: 0.25rem;
            content: " ";
            height: 0.25rem;
            left: -1.15rem;
            position: absolute;
            top: 1.2rem;
            width: 0.25rem;
        }

        &:first-child  {
            &:before {
                display: none;
            }
        }

        .a-icon__svg {
            padding: 6px 6px 6px 0;
            width: 30px;
            // display: none;
        }
    }
}