.m-menu-main__item {
    @include mobile {
        border-bottom: 1px solid #ccc;
        color: $color__font--dark;
        flex-shrink: 0;
        height: 3rem;
        transition: color 0.3s linear;
        width: 100%;

        &:hover, &:active {
            color: $color__font--primary;
        }
    }

    @include tablet-desktop {
        color: $color__font--light;
        font-weight: bold;
        padding: 0 1rem;
        position: relative;

        &:before {
            background-color: rgba($color__background--primary, 0.4);
            border-radius: 0.25rem;
            content: " ";
            height: 0.25rem;
            left: -0.15rem;
            position: absolute;
            top: 0.35rem;
            width: 0.25rem;
        }

        &:first-child  {
            &:before {
                display: none;
            }
        }

        .a-icon__svg {
            display: none;
        }
    }
}