.m-menu-main {
    display: flex;
    justify-content: flex-start;

    @include mobile {
        display: none;
    }

    @include tablet-desktop {
        flex-direction: row;
        flex-grow: 1;
        padding-left: 2rem;
    }

    @include desktop {
        padding-left: 3rem;
        max-width: 720px;
    }
}

@import "__item/m-menu-main__item";