.search {
  margin-top: 3rem;
  padding: 0 3%;

  @include desktop {
    margin-top: 30px;
    padding: 0 30px;
  }
}

.search--sidebar {
  @include desktop {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}

.search--shifted {
  @include desktop {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}

.search__keyword {
  font-size: 1.5rem;
}

.search__bookmark {
  padding: 0;
}

.search__load-more {
  margin-top: 2rem;
  left: 50%;
  transform: translateX(-50%);
}

.search__spinner {
  margin-top: 2rem;
  left: calc(50% - 18px);
}

.search-skeleton__text {
  width: 100%;
  margin-top: 1rem;

  @include tablet-desktop {
    width: 70%;
  }
}

.search-skeleton__collection {
  width: 60%;
  margin-bottom: 0.5rem;
}

.search-skeleton__icon {
  margin-left: 0;
  height: 16px;
  /* stylelint-disable */
  width: 16px !important;
  /* stylelint-enable */
}

.search-skeleton__link1 {
  width: 80%;
}

.search-skeleton__link2 {
  width: 60%;
}

.search-skeleton__link3 {
  width: 70%;
}
