@import "../../templates/booky/config.scss";

.resend .section__content {
  @include tablet {
    max-width: 40rem;
  }

  @include desktop {
    display: flex;
    max-width: 50rem;
    justify-content: center;
  }
}

.resend__form {
  @include desktop {
    margin-right: 2rem;
  }
}

.resend__illustration {
  flex-shrink: 0;

  @include mobile-tablet {
    display: none;
  }
}
