.categories {
  margin-top: 4rem;

  @include desktop {
    margin-top: calc(3rem + 6px);
  }

  &::after{
    content: "";
    clear: both;
    display: block;
  }
}

.categories--sidebar {
  @include desktop {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}

.categories--shifted {
  @include desktop {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}

.categories__button {
  width: calc(94% - 12px);
  margin: 0 calc(3% + 6px) 1rem;
}

.categories__spinner {
  left: calc(50% - 18px);
}
