.categories {
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}

.categories--sidebar {
  @include desktop {
    width: calc(100% - 50px);
    margin-left: 50px;
  }
}

.categories--shifted {
  @include desktop {
    width: calc(100% - 300px);
    margin-left: 300px;
  }
}

.categories__spinner {
  left: calc(50% - 18px);
}
