.a-button__icon {
    display: inline-block;
    transition: color 0.2s linear;

    &:hover {
        .a-icon__svg {
            transform: none;
        }
    }

    &:active {
        &:after {
            animation: none;
        }
    }
}