.extension {
  background-color: $color-background--white;
  position: relative;
  padding-top: 4.5rem;
  height: 100vh;
}

.extension--dark {
  background-color: $color-background--dark-mode;
}

.extension__header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: $color--primary;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding-top: calc(0.5rem - 6px);
  height: 70px;
}

.extension__nav {
  display: flex;
  justify-content: space-around;
}

.extension__nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: $color-font--white;
  padding: 0 0.5rem 6px 0.5rem;
  white-space: nowrap;
  transition: color 0.2s linear, border-color 0.2s linear;

  &.link:hover,
  &.link:focus {
    color: $color-font--dark;
    border-bottom-color: $color-font--dark;

    .icon {
      color: $color-font--dark;
    }
  }
}

.extension__nav-item--active {
  border-bottom: 2px solid $color-font--white;
}
