.header {
  border-bottom: 2px solid rgba(0,0,0,0.1);
  position: relative;
  top: 0;
  width: 100%;
  z-index: 3;

  &.header--sticky {
    position: fixed;
  }

  @include mobile-tablet {
    &::after {
      background-color: rgba(0, 0, 0, 0.3);
      bottom: 0;
      content: " ";
      left: 0;
      opacity: 0;
      position: fixed;
      width: 0;
      top: 0;
      transition: opacity 0.3s linear, width 0s 0.3s linear;
    }
  }
}

.header--overlay {
  @include mobile-tablet {
    &::after {
      opacity: 1;
      transition: opacity 0.3s linear;
      width: 100vw;
      z-index: 4;
    }
  }
}

.header--color-0 {
  background-color: rgba($color--0, 0.97);
}

.header--color-1 {
  background-color: rgba($color--1, 0.97);
}

.header--color-2 {
  background-color: rgba($color--2, 0.97);
}

.header--color-3 {
  background-color: rgba($color--3, 0.97);
}

.header--color-4 {
  background-color: rgba($color--4, 0.97);
}

.header--color-5 {
  background-color: rgba($color--5, 0.97);
}

.header--color-6 {
  background-color: rgba($color--6, 0.97);
}

.header--color-7 {
  background-color: rgba($color--7, 0.97);
}

.header--color-8 {
  background-color: rgba($color--8, 0.97);
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(3% + 6px);
  height: 3rem;
  width: 100%;
  max-width: 1000px;

  @include tablet {
    height: 4.4rem;
  }

  @include desktop {
    height: 6.2rem;
    margin: 0 auto;
    padding: 0 36px;
  }
}

.header__logo {
  margin-right: 1.5rem;
  
  &:focus {
    outline: 1px dashed $color__font--white;
  }
}

.header__login {
  @include desktop {
    margin-right: 1rem;
  }
}

.header__add {
  margin-left: calc(1rem - 6px);
}

.header__add-icon {
  margin-left: -6px;
}