.header {
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,0.1);
  display: flex;
  height: 42px;
  justify-content: center;
  padding: 0 3%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;

  &:before {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: " ";
    left: 0;
    opacity: 0;
    position: fixed;
    width: 0;
    top: 0;
    transition: opacity 0.3s linear, width 0s 0.3s linear;
  }

  @include tablet {
    height: 64px;
  }

  @include desktop {
    height: 86px;
  }

  &.header--sticky {
    position: fixed;
  }

  &.header--overlay-dashboards {
    @include mobile-tablet {
      &:before {
        opacity: 1;
        transition: opacity 0.5s linear;
        width: 100%;
        z-index: 2;
      }
    }
  }

  &.header--overlay-menu-main {
    @include mobile-tablet {
      &:before {
        opacity: 1;
        transition: opacity 0.5s linear;
        width: 100%;
        z-index: 2;
      }
    }
  }

  &.header--overlay-sidebar {
    &:before {
      opacity: 1;
      transition: opacity 0.5s linear;
      width: 100%;
      z-index: 2;
    }
  }

  &.header--color-0 {
    background-color: rgba($color--0, 0.97);
  }

  &.header--color-1 {
    background-color: rgba($color--1, 0.97);
  }

  &.header--color-2 {
    background-color: rgba($color--2, 0.97);
  }

  &.header--color-3 {
    background-color: rgba($color--3, 0.97);
  }

  &.header--color-4 {
    background-color: rgba($color--4, 0.97);
  }

  &.header--color-5 {
    background-color: rgba($color--5, 0.97);
  }

  &.header--color-6 {
    background-color: rgba($color--6, 0.97);
  }

  &.header--color-7 {
    background-color: rgba($color--7, 0.97);
  }

  &.header--color-8 {
    background-color: rgba($color--8, 0.97);
  }
}

.header__menu-main-icon {
  @include desktop {
    display: none;
  }
}

.header__logo {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 5px;
  text-align: center;

  &.header__logo--large {
    background: url("../../_assets/logo-primary.png") no-repeat center center transparent;
    background-size: contain;
    height: 50px;
    width: 150px;

    @include tablet-desktop {
      // flex-grow: 0;
      // justify-content: flex-start;
      // order: -1;
      // text-align: left;
    }

    @include mobile-tablet {
      display: none;
    }
  }
}

.header__join {
  @include mobile-tablet {
    display: none;
  }

  margin-left: 1rem;
}

.header__sign-in {
  margin-left: 1rem;
}

.header__sign-out {
  @include mobile-tablet {
    display: none;
  }

  margin-left: 1rem;
}