.button--small {
  .icon {
    height: 24px;
    width: 24px;
    margin-right: 6px;
  }

  .icon__svg {
    padding: 0;
    height: 24px;
    width: 24px;
  }
}

.button--small-light {
  background-color: transparent;
  border-color: $color__font--white;
  color: $color__font--white;

  @include mobile-tablet() {
    &:active,
    &:focus {
      background-color: $color__font--white;
      color: $color__font--primary;
    }
    &:active .icon,
    &:focus .icon {
      color: $color__font--primary;
    }
  }

  @include desktop() {
    &:hover,
    &:focus {
      background-color: $color__font--white;
      color: $color__font--primary;
    }
    &:hover .icon,
    &:focus .icon {
      color: $color__font--primary;
    }
  }

  &.button--solid {
    background-color: $color__font--white;
    color: $color__font--primary;

    .icon {
      color: $color__font--primary;
    }

    @include mobile-tablet() {
      &:active,
      &:focus {
        color: $color__font--dark;
      }
      &:active .icon,
      &:focus .icon {
        color: $color__font--dark;
      }
    }

    @include desktop() {
      &:hover,
      &:focus {
        color: $color__font--dark;
      }
      &:hover .icon,
      &:focus .icon {
        color: $color__font--dark;
      }
    }
  }
}

.button--small-primary {
  background-color: transparent;
  border-color: $color__font--primary;
  color: $color__font--primary;

  @include mobile-tablet() {
    &:active,
    &:focus {
      background-color: $color__font--primary;
      color: $color__font--white;
    }
    &:active .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }

  @include desktop() {
    &:hover,
    &:focus {
      background-color: $color__font--primary;
      color: $color__font--white;
    }
    &:hover .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }
}

.button--small-dark {
  background-color: transparent;
  border-color: $color__font--dark;
  color: $color__font--dark;

  @include mobile-tablet() {
    &:active,
    &:focus {
      background-color: $color__font--dark;
      color: $color__font--white;
    }
    &:active .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }

  @include desktop() {
    &:hover,
    &:focus {
      background-color: $color__font--dark;
      color: $color__font--white;
    }
    &:hover .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }
}

.button--small-medium {
  background-color: transparent;
  border-color: $color__font--medium;
  color: $color__font--medium;

  @include mobile-tablet() {
    &:active,
    &:focus {
      background-color: $color__font--medium;
      color: $color__font--white;
    }
    &:active .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }

  @include desktop() {
    &:hover,
    &:focus {
      background-color: $color__font--medium;
      color: $color__font--white;
    }
    &:hover .icon,
    &:focus .icon {
      color: $color__font--white;
    }
  }
}