.button--text {
  padding: 0;
  background: none;

  @include mobile-tablet() {
    &:active,
    &:focus {
      color: $color__font--primary;
    }
    &:active .icon,
    &:focus .icon {
      color: $color__font--primary;
    }
  }

  @include desktop() {
    &:hover,
    &:focus {
      color: $color__font--primary;
    }
    &:hover .icon,
    &:focus .icon {
      color: $color__font--primary;
    }
  }

  .icon {
    height: 24px;
    width: 24px;
    margin-right: 6px;
  }

  .icon__svg {
    padding: 0;
    height: 24px;
    width: 24px;
  }

  .button__text {
    font-size: $font-size--small;
    height: auto;
  }
}

.button--text-light {
  color: $color__font--white;
}