.link {
  font-size: 1rem;
  position: relative;
  text-decoration: none;
  transition: color 0.2s linear;
  display: inline-flex;
  cursor: pointer;
}

.link--primary {
  color: $color__font--primary;

  &:active,
  &:focus {
    color: $color__font--medium;
  }

  @include desktop {
    &:hover {
      color: $color__font--medium;
    }
  }
}

.link--light {
  color: $color__font--white;

  &:active,
  &:focus {
    color: $color__font--primary;
  }

  @include desktop {
    &:hover {
      color: $color__font--primary;
    }
  }
}