.link {
  font-size: 1rem;
  position: relative;
  text-decoration: underline;
  transition: color 0.2s linear;
  display: inline-flex;
  cursor: pointer;
  text-decoration-skip-ink: auto;
}

.link--noUnderline {
  text-decoration: none;
}

.link--primary {
  color: $color-font--primary;

  &:active,
  &:focus {
    color: $color-font--medium;
  }

  &.link--dark-mode {
    &:active,
    &:focus {
      color: $color-font--light;
    }
  }

  @include desktop {
    &:hover {
      color: $color-font--medium;
    }

    &.link--dark-mode {
      &:hover {
        color: $color-font--light;
      }
    }
  }
}

.link--medium {
  color: $color-font--medium;

  &:active,
  &:focus {
    color: $color-font--dark;
  }

  @include desktop {
    &:hover {
      color: $color-font--dark;
    }
  }
}

.link--dark {
  color: $color-font--dark;

  &:active,
  &:focus {
    color: $color-font--medium;
  }

  @include desktop {
    &:hover {
      color: $color-font--medium;
    }
  }
}

.link--light {
  color: $color-font--white;

  &:active,
  &:focus {
    color: $color-font--primary;
  }

  @include desktop {
    &:hover {
      color: $color-font--primary;
    }
  }
}