.o-content {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 42px 5px 5px 5px;
    position: relative;
    width: 94%;

    @include tablet {
        padding-top: 64px;
    }

    @include desktop {
        padding-top: 0px;
    }
}