.features {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.features__feature {
  width: 100%;

  @include tablet-desktop {
    width: 45%;
  }
}

.features__feature-name {
  margin-left: -6px;
}
