.testimonial {
  display: flex;
  padding: 1rem 6px;
  position: relative;
}

.testimonial__wrapper {
  margin-top: 7px;
}

.testimonial__image {
  margin-right: 0.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.1);
}

.testimonial__link {
  font-size: $font-size--small;
  display: flex;
}

.testimonial__name {
  color: black;
  font-weight: 700;
  margin-right: 0.5rem;
  white-space: nowrap;
}

.testimonial__text {
  width: 100%;
  padding-bottom: 0;
}

.testimonial__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 64px;
  width: 64px;

  .icon__svg {
    height: 64px;
    width: 64px;
  }
}