@import "../../00_base/config";

.a-checkbox__box {
    border: 2px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: 1.5rem;
    margin-right: 1rem;
    width: 1.5rem;
}

@import "a-checkbox__label--checked";