.feature-card__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  border-radius: 5px;
  width: 23rem;
  margin: 3.5rem 1rem 0 1rem;
}

.feature-card__wrapper:first-of-type {
  margin-left: 0;
}

.feature-card__wrapper:last-of-type {
  margin-right: 0;
}

.feature-card--white {
  background-color: $color-background--white;
  border-bottom: 2px solid darken($color-font--white, 10%);
  padding-bottom: 1.5rem;
}

.feature-card--light {
  background-color: $color-background--light;
  border-bottom: 2px solid darken($color-background--light, 5%);
  padding-bottom: 1.5rem;
}

.feature-card__illustration {
  min-width: 150px;
  min-height: 150px;
  margin-top: -2rem;
  margin-bottom: 1rem;

  // @include mobile {
  //   // margin-top: 1rem;
  // }

  // @include tablet {
  //   min-width: 40vw;
  //   max-width: 300px;
  // }

  // @include desktop {
  //   flex-shrink: 0;
  // }
}

.feature-card__text {
  flex-grow: 1;
}

.feature-card__flag {
  margin-left: 1rem;
  position: relative;
  top: 2px;
}
