.error {
  color: $color--3;
  transition: opacity 0.4s ease, max-height 0.4s ease;
  max-height: 0;
  opacity: 0;
  position: relative;
  display: flex;
  padding-bottom: 0;
}

.error--animate {
  max-height: 6rem;
  opacity: 1;
}

.error__icon {
  pointer-events: none;
  margin-left: -6px;
  margin-top: -6px;
}