.t-page {
    margin: 0 auto;
    padding: 42px 6px 100px 6px;
    max-width: 94%;

    @include tablet {
        padding-top: 64px;
    }

    @include desktop {
        max-width: 800px;
        padding: 86px 0 100px 0;
    }
}