.m-bookmark__link {
    color: $color__font--dark;
    flex-grow: 1;
    font-size: 1rem;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: color 0.2s linear;
    white-space: nowrap;

    &:hover, &:active {
        color: $color__font--primary;
    }
}