.a-button--small-light {
    background-color: transparent;
    border-color: $color__font--white;
    color: $color__font--white;

    &:hover, &:active {
        background-color: $color__font--white;
        color: $color__font--primary;
    }
}