.a-button--small-primary {
    background-color: transparent;
    border-color: $color__font--primary;
    color: $color__font--primary;

    &:hover, &:active {
        background-color: $color__font--primary;
        color: $color__font--white;
    }
}