.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.language-switcher__item {
  margin: 0 0.5rem;
}

.language-switcher__item--active {
  text-decoration: underline;
}