.m-menu-account {
    align-items: center;
    display: flex;

    @include mobile-tablet {
        display: none;
    }

    @include desktop {
        justify-content: flex-end;
        order: 3;
        padding: 5px;
        width: 300px;
    }
}

@import "__item/m-menu-account__item";