.o-sidebar__heading {
    color: $color__font--dark;
    cursor: default;
    font-family: $font__family--heading;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.7rem;
    margin-top: 0.5rem;
    text-align: center;
    text-shadow: 0 0 0;
    width: 100%;
}