.toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
  padding: 0 3vw 0 calc(3vw + 6px);
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1;
  height: 42px;
  background-color: rgba($color__background--light, 0.95);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  @include tablet {
    top: 62px;
  }

  @include desktop {
    background-color: rgba($color__background--light, 0.95);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    // pointer-events: auto;
    top: 84px;
  }

  &.toolbar--sticky {
    position: fixed;
    top: 40px;

    @include tablet {
      top: 62px;
    }

    @include desktop {
      top: 84px;
    }
  }

  &.toolbar--sticky-one-and-only {
    position: fixed;
    top: 0;

    @include tablet-desktop {
      top: 0;
    }
  }
}

.toolbar__headline {
  margin: 0 !important;
  padding: 0 !important;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar__gradient {
  position: relative;
  height: 100%;
  margin-right: 1rem;
  pointer-events: none;

  &::before {
    background: linear-gradient(to right, rgba(255,255,255,0), #fff);
    position: absolute;
    content: " ";
    width: 30px;
    bottom: 2px;
    top: 0;
    left: -20px;
  }
}