.toolbar {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 calc(3% + 6px) 0 3%;
  position: absolute;
  top: calc(3rem + 2px);
  width: 100%;
  z-index: 1;
  height: 42px;
  background-color: rgba($color__background--white, 0.95);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  @include tablet {
    top: calc(4.4rem + 2px);
  }

  @include desktop {
    background-color: rgba($color__background--white, 0.95);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    height: 62px;
    top: calc(6.2rem + 2px);
    padding: 0 36px 0 30px;
  }

  &.toolbar--sticky {
    position: fixed;
    top: calc(3rem + 2px);

    @include tablet {
      top: calc(4.4rem + 2px);
    }

    @include desktop {
      top: calc(6.2rem + 2px);
    }
  }

  &.toolbar--sticky-one-and-only {
    position: fixed;
    top: 0;

    @include tablet-desktop {
      top: 0;
    }
  }
}

.toolbar__headline {
  margin: 0 0 0 1rem;
  padding: 0;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: none;

  @include desktop {
    max-width: 618px;
  }
}

.toolbar__tabs {
  margin-left: 1rem;
  flex-grow: 1;

  @include desktop {
    max-width: 618px;
  }
}

.toolbar__gradient {
  position: relative;
  height: 100%;
  margin-right: 1rem;
  pointer-events: none;

  &::before {
    background: linear-gradient(to right, rgba(255,255,255,0), #fff);
    position: absolute;
    content: " ";
    width: 30px;
    bottom: 2px;
    top: 0;
    left: -20px;
  }
}