.o-dashboards--sidebar {
    line-height: 36px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    top: 0;
    
    @include mobile-tablet() {
        background-color: $color__background--white;
        border-left: 2px solid rgba(0,0,0,0.15);
        bottom: 0;
        display: block;
        max-width: 100%;
        padding: 10px 0;
        right: 0;
        text-align: center;
        transform: translate3d(100%,0,0);
        transition: none;
        width: 350px;
        z-index: 3;
    }

    @include desktop {
        border-right: 2px solid rgba(0, 0, 0, 0.1);
        bottom: 0;
        color: $color__font--primary;
        font-family: $font__family--text;
        padding-top: 152px;
        width: 300px;
    }

    .m-dashboard {
        border: 0 none;
    }

    .o-dashboards__title {
        display: none;
    }

    .o-dashboards__button-wrapper {
        margin: 25px 15px 15px 15px;
        order: -1;

        @include mobile-tablet {
            margin: 10px;
        }
    }

    .o-dashboards__button {
        border-radius: 3px;
        width: auto;
    }
}

@import "o-dashboards--sidebar-open";