.o-dashboards--dropdown {
    color: $color__font--primary;
    cursor: default;
    font-family: $font__family--text;
    height: 38px;
    line-height: 36px;
    margin-left: 1rem;
    overflow: hidden;
    width: 200px;

    &:hover {
        overflow: visible;

        .o-dashboards__title {
            border-radius: 3px 3px 0 0;
            border-bottom: 0 none;
        }
    }
}