.home {
  padding-top: 0;
}

.home__header {
  position: relative;

  @include mobile {
    padding-top: 6rem;
  }
  
  @include tablet {
    padding-top: 8rem;
    padding-bottom: 2rem;
  }

  @include desktop {
    padding-top: 10rem;
  }
}

.home__headline {
  @include tablet {
    width: 60%;
  }
}

.home__header-illustration {
  max-width: 300px;
  max-height: 300px;
  
  @include mobile {
    position: relative;
    width: 75%;
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
  }
  
  @include tablet-desktop {
    position: absolute;
    right: 2vw;
    top: 9rem;
    width: 40vw;
    height: 40vw;
  }

  @include desktop {
    right: 36px;
    top: 18rem;
  }
}

.home__join {
  @include mobile {
    margin-bottom: 1rem;
  }

  @include mobile-tablet {
    margin-top: 1rem;
  }

  @include tablet-desktop {
    margin-right: 1rem;
  }

  @include desktop {
    margin-top: 2rem;
  }
}

.home__navigation {
  display: flex;
  justify-content: center;

  @include desktop {
    padding: 0 36px;
  }
}

.home__nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  transition: color 0.2s;
  color: $color__font--medium;
  text-decoration: none;
  font-weight: 700;

  &:active,
  &:focus {
    color: $color__font--dark;

    .icon__svg {
      color: $color--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;

      .icon__svg {
        color: $color--primary;
      }
    }
  }

  .icon,
  .icon__svg {
    transition: color 0.2s;
    margin-bottom: 0.3rem;
  }
}

.home__bookmarklet {
  display: flex;
  align-items: center;
  flex-direction: column;

  @include mobile-tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include desktop {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.home__bookmarklet-headline {
  padding: 0;
}

.home__not-a-member {
  text-align: center;
}
