.home {
  padding-top: 0;
}

.home__header {
  position: relative;
  padding-top: 4rem;
  margin-bottom: 9rem;

  @include mobile {
    &::before {
      content: " ";
      position: absolute;
      background-color: $color--primary-lighter;
      left: 0;
      right: 0;
      top: 0;
      height: 10rem;
    }
  }

  @include tablet {
    padding-top: 6rem;
    margin-bottom: 10rem;
  }

  @include desktop {
    padding-top: 10rem;
    margin-bottom: 16rem;
  }
}

.home__header-content {
  position: relative;
  padding: 0 calc(3% + 6px);
  max-width: 1000px;
  margin: 0 auto;

  @include desktop {
    padding: 0 36px;
  }
}

.home__image-wrapper {
  position: absolute;
  bottom: -390px;
  width: 100%;
  overflow: hidden;

  @include tablet {
    bottom: -360px;
  }
}

.home__image {
  position: relative;
  width: 5000px;
  left: calc(50% - 2600px);
}


.home__header-image--mobile {
  position: absolute;
  left: 710px;
  width: 100px;
  margin-top: 40px;
}

.home__header-image--desktop {
  position: absolute;
  left: 560px;
  width: 200px;
}

.home__join {
  @include mobile {
    margin-bottom: 1rem;
  }

  @include tablet-desktop {
    margin-right: 1rem;
  }
}

.home__navigation {
  display: flex;
  justify-content: center;

  @include desktop {
    padding: 0 36px;
  }
}

.home__nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  transition: color 0.2s;
  color: $color__font--medium;
  text-decoration: none;
  font-weight: 700;

  &:active,
  &:focus {
    color: $color__font--dark;

    .icon__svg {
      color: $color--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color__font--dark;

      .icon__svg {
        color: $color--primary;
      }
    }
  }

  .icon,
  .icon__svg {
    transition: color 0.2s;
    margin-bottom: 0.3rem;
  }
}

.home__bookmarklet {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  flex-wrap: wrap;

  @include tablet {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include desktop {
    flex-wrap: nowrap;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.home__bookmarklet-icon {
  flex-shrink: 0;
  margin-right: 1rem;
  pointer-events: none;
}

.home__bookmarklet-headline {
  flex-grow: 1;
  padding: 0;

  @include mobile-tablet {
    max-width: calc(100% - 64px - 1rem);
  }

  @include desktop {
    margin-right: 1rem;
  }
}

.home__bookmarklet-button {
  flex-shrink: 0;

  @include mobile-tablet {
    margin-top: 1rem;
    margin-left: calc(64px + 1rem);
  }
}

.home__not-a-member {
  text-align: center;
}
