.home {
  padding-top: 0;
}

.home__header {
  position: relative;

  @include mobile {
    padding-top: 6rem;
  }

  @include tablet {
    padding-top: 8rem;
    padding-bottom: 5rem;
  }

  @include desktop {
    padding-top: 11rem;
    padding-bottom: 12rem;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: calc(50% - 900px);
    //   right: calc(50% - 900px);
    //   top: 0;
    //   bottom: 0;
    //   background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
    //   min-width: 1000px;
    // }
  }
}

.home__headline {
  @include tablet {
    width: 60%;
  }
}

.home__header-illustration {
  max-width: 300px;
  max-height: 300px;

  @include mobile {
    position: relative;
    width: 75%;
    height: 75%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
  }

  @include tablet-desktop {
    position: absolute;
    right: 2vw;
    top: 0;
    width: 40vw;
    height: 40vw;
  }

  @include desktop {
    right: 36px;
    top: 8rem;
  }
}

.home__join {
  @include mobile {
    margin-bottom: 1rem;
  }

  @include mobile-tablet {
    margin-top: 1rem;
  }

  @include tablet-desktop {
    margin-right: 1rem;
  }

  @include desktop {
    margin-top: 2rem;
  }
}

.home__navigation {
  display: flex;
  justify-content: center;

  @include desktop {
    padding: 0 36px;
  }
}

.home__nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  transition: color 0.2s;
  color: $color-font--medium;
  text-decoration: none;
  font-weight: 700;

  &:active,
  &:focus {
    color: $color-font--dark;

    .icon__svg {
      color: $color--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color-font--dark;

      .icon__svg {
        color: $color--primary;
      }
    }
  }

  .icon,
  .icon__svg {
    transition: color 0.2s;
    margin-bottom: 0.3rem;
  }
}

.home__bookmarklet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__extension {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;

  @include desktop {
    margin-top: 2rem;
  }
}

.home__extension-icon {
  margin: 0 0.5rem 0.5rem;

  @include mobile {
    width: 19vw;
    height: 19vw;
  }
}

.home__extension-browser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__features,
.home__testimonials,
.home__bookmarklet {
  @include mobile-tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include desktop {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.home__features-headline {
  @include mobile {
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 0;
  }
}

.home__not-a-member {
  text-align: center;
}

.home__login-button {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home__globe {
  max-width: 100%;
}
