.home {
  padding-top: 0;
}

.home__image-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: -360px;
  margin: 0 calc(-3% - 6px);
}

.home__image {
  position: relative;
  width: 5000px;
  left: calc(50% - 2600px);
}

.home__header {
  position: relative;
  margin-bottom: 7rem;
  padding-top: 4rem;

  &::before {
    content: " ";
    position: absolute;
    background-color: #eb8174;
    left: 0;
    right: 0;
    top: 0;
    height: 10rem;
  }

  @include tablet {
    padding-top: 6rem;
    margin-bottom: 9rem;
  }

  @include desktop {
    padding-top: 10rem;
    margin-bottom: 10rem;
  }
}

.home__header-image--mobile {
  position: absolute;
  left: 710px;
  width: 100px;
  margin-top: 40px;
}

.home__header-image--desktop {
  position: absolute;
  left: 560px;
  width: 200px;
}

.header__learn-more {
  @include mobile {
    margin-bottom: 1rem;
  }

  @include tablet-desktop {
    margin-right: 1rem;
  }
}

.home__navigation {
  display: flex;
  justify-content: center;
}

.home__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 1rem 0;
  transition: color 0.2s, background-color 0.2s;
  color: $color__font--dark;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    background-color: $color__background--ligth;
    color: $color__font--dark;

    .icon,
    .icon__svg {
      color: $color--primary;
    }
  }

  .icon,
  .icon__svg {
    transition: color 0.2s;
    margin-bottom: 0.3rem;
    width: 4rem;
    height: 4rem;
  }
}

.home__testimonials {
  display: flex;
  padding: 2rem 0;
  overflow-x: scroll;
  width: 100%;
}

.home__testimonial {
  @include mobile {
    min-width: 70%;
  }

  @include tablet {
    min-width: 38%;
  }

  @include desktop {
    min-width: 33%;
  }
}