.home {
  padding-top: 0;
}

.home__header {
  position: relative;
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include mobile {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }

  @include tablet {
    padding-top: 4rem;
  }

  @include desktop {
    padding-top: 6rem;
  }
}

.home__header-wrapper {
  flex-shrink: 0;
}

.home__header-illustration {
  height: auto;
  margin-top: -3rem;
  flex-grow: 1;
  width: 80%;
  position: relative;
  bottom: -10vw;
  z-index: 1;

  @include mobile {
    margin-top: -15vw;
    bottom: -23vw;
    width: 100%;
  }

  @include tablet {
    margin-top: -2rem;
  }

  @include hd {
    bottom: -8rem;
  }
}

.home__join {
  @include mobile {
    margin-bottom: 1rem;
  }

  @include mobile-tablet {
    margin-top: 1rem;
  }

  @include tablet-desktop {
    margin-right: 1rem;
  }

  @include desktop {
    margin-top: 2rem;
  }
}

.home__navigation {
  display: flex;
  justify-content: center;

  @include desktop {
    padding: 0 36px;
  }
}

.home__nav-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  transition: color 0.2s;
  color: $color-font--medium;
  text-decoration: none;
  font-weight: 700;

  &:active,
  &:focus {
    color: $color-font--dark;

    .icon__svg {
      color: $color--primary;
    }
  }

  @include desktop {
    &:hover {
      color: $color-font--dark;

      .icon__svg {
        color: $color--primary;
      }
    }
  }

  .icon,
  .icon__svg {
    transition: color 0.2s;
    margin-bottom: 0.3rem;
  }
}

.home__bookmarklet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home__extension {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;

  @include desktop {
    margin-top: 2rem;
  }
}

.home__extension-icon {
  margin: 0 0.5rem 0.5rem;

  @include mobile {
    width: 19vw;
    height: 19vw;
  }
}

.home__extension-browser {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__features,
.home__testimonials,
.home__bookmarklet {
  @include mobile-tablet {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  @include desktop {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

.home__testimonials {
  @include mobile {
    padding-top: 13vw;
  }

  @include tablet {
    padding-top: 6rem;
  }

  @include desktop {
    padding-top: 10rem;
  }
}

.home__features-headline {
  @include mobile {
    justify-content: flex-start;
    text-align: left;
    padding-bottom: 0;
  }
}

.home__not-a-member {
  text-align: center;
}

.home__login-button {
  margin-top: 2rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home__globe {
  max-width: 100%;
}
