.o-categories {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;

    &.o-categories--edit-mode {
        .m-category__icon--edit-mode {
            opacity: 1;
            transition: color 0.2s linear, opacity 0.2s 0.2s linear, width 0.2s linear;
            width: 36px;
        }
    }

    @include tablet {
        margin-top: 110px;
    }

    @include desktop {
        margin-top: 180px;
    }
}