.page {
  margin: 0 auto;
  padding: 7rem 6px 7rem 6px;
  max-width: 94%;

  @include tablet {
    padding: 9rem 6px 9rem 6px;
  }

  @include desktop {
    max-width: 800px;
    // padding: 6rem 0 8rem 0;
  }

  &.page--full-width {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  &.page--no-toolbar {
    padding: 4rem 6px 4rem 6px;

    @include tablet {
      padding: 6rem 6px 6rem 6px;
    }
  }
}