.page {
  margin: 0 auto;
  padding: 3rem 0 6rem 0;
  max-width: calc(94% - 12px);
  min-height: 100%;

  @include tablet {
    padding: 5rem 0 10rem 0;
  }

  @include desktop {
    max-width: 860px;
    padding: 7rem 0 14rem 0;
  }

  &.page--full-width {
    max-width: inherit;
  }

  // &.page--no-toolbar {
  //   padding: 4rem 6px 4rem 6px;

  //   @include tablet {
  //     padding: 6rem 6px 6rem 6px;
  //   }

  //   @include desktop {
  //     padding: 8rem 6px 8rem 6px;
  //   }
  // }
}