.page {
  min-height: 100vh;
  padding: 4rem 0 6rem 0;

  @include tablet {
    padding: 6rem 0 10rem 0;
  }

  @include desktop {
    padding: 10rem 0 14rem 0;
  }
}

.page--blur {
  filter: blur(3px) grayscale(100%);
}

.page--hidden {
  // transition: opacity 0.5s ease;
  opacity: 0;
}

.page--show {
  opacity: 1;
}