.page {
  margin: 0 auto;
  padding: 3rem 3% 6rem 3%;
  min-height: 100%;

  @include tablet {
    padding: 5rem 3% 10rem 3%;
  }

  @include desktop {
    max-width: 1000px;
    padding: 7rem 38px 14rem 38px;
  }
}